body {
    font-family: 'Poppins', sans-serif;
    color: #494949;
    background: #CCD2E0;
}
html{
    
}



input[type="text"],input[type="password"],input[type="email"],input[type="number"],input[type="date"],select{
    border:1px #BABABA solid;
    background: white;
    border-radius: 6px;
    height: 36px;
    text-align: center;
}
a:hover{text-decoration: none;color: inherit;}

.tablaSole thead th:first-child{
    border-radius: 10px 0 0 10px;
}

.tablaSole thead th:last-child{
    border-radius: 0 10px 10px 0;
}

.tablaSole tbody tr {
    border-top: #CCD2E0 10px solid;
    border-bottom: #CCD2E0 10px solid;
}

.tablaSole tbody tr td:first-child{
    border-radius: 15px 0 0 15px;
}

.tablaSole tbody tr td:last-child{
    border-radius: 0 15px 15px 0;
}

.tablaSole td{
    vertical-align: middle;
}

form input{height:36px}

.mauto{ margin: 0 auto; }


.boton{border:0;display: inline-block;}

.w330{ width:330px }
.w-35{width:35%}

.navTemplate{text-align: center; height: 97px;}
.navTemplate img{height: 55px;}

.lineaNav div:first-child{ height: 4px; }
.lineaNav div:last-child{ height: 4px; }


.colorRojo1{ color:#E1001A; }
.colorAzul1{ color:#004184; }


.fondoRojo1{ background:#E1001A; }
.fondoAzul1{ background:#004184; }
.fondoBlanco1{ background:#fff; }

.divhei1{height: 60px;}


.br-4{border-radius: 4px;}
.br-10{border-radius: 10px;}
.br-20{border-radius: 20px;}

.font-400{font-weight: 400;}
.font-600{font-weight: 600;}

.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f19 { font-size: 19px; }
.f20 { font-size: 20px; }
.f21 { font-size: 21px; }
.f22 { font-size: 22px; }
.f23 { font-size: 23px; }
.f24 { font-size: 24px; }
.f25 { font-size: 25px; }
.f26 { font-size: 26px; }
.f27 { font-size: 27px; }
.f28 { font-size: 28px; }
.f29 { font-size: 29px; }
